# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# env secrets
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
Icon?
Icon

# IDE
.vscode/
.idea/

# Firebase & Scratch
.firebase/
scratch/
firebase-debug.log
